<!-- <div #main class="som"> -->
<div #ngucarousel class="ngucarousel">
    <div #forTouch class="ngucarousel-inner">
        <div #ngxitems class="ngucarousel-items">
            <ng-content select="[NguCarouselItem]"></ng-content>
        </div>
        <div style="clear: both"></div>
    </div>
    <ng-content select="[NguCarouselPrev]"></ng-content>
    <ng-content select="[NguCarouselNext]"></ng-content>
</div>
<div #points *ngIf="userData.point.visible">
    <ul class="ngucarouselPoint">
        <li #pointInner *ngFor="let i of pointNumbers; let i = index" [class.active]="i==pointers" (click)="moveTo(i)"></li>
    </ul>
</div>
<!-- </div> -->