<!-- <div #ngucarousel class="ngucarousel"> -->
<div #ngucarousel class="ngucarousel">
  <div #nguitems class="ngucarousel-items">
    <ng-content select="[NguCarouselItem]"></ng-content>
  </div>
  <div class="nguclearFix"></div>
  <ng-content select="[NguCarouselPrev]"></ng-content>
  <ng-content select="[NguCarouselNext]"></ng-content>
</div>
<!-- </div> -->
<ng-content select="[NguCarouselPoint]"></ng-content>
<!-- <div *ngIf="data.point">
  <ul class="ngucarouselPoint">
    <li #pointInner *ngFor="let i of pointNumbers; let i = index" [class.active]="i==pointers" (click)="moveTo(i)"></li>
  </ul>
</div> -->
<!-- [@slider]="{ value: 'trznslate', params: { distance: 100 } }" -->
