/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background: #eeeeee;
  padding-top: 55px;
}
