<ngu-carousel #myCarousel [inputs]="carouselTileConfig" [dataSource]="carouselItems()">
  <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst() ? 0.5 : 1">
    &lt;
  </button>

  <ngu-tile *nguCarouselDef="let item; index as i; let ani = animate" [@slider]="ani">
    <div class="tile" [style.background]="'url(' + item + ')'">
      <h1>{{ i + 1 }}</h1>
    </div>
  </ngu-tile>

  <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast() ? 0.5 : 1">
    &gt;
  </button>

  <ul class="myPoint" NguCarouselPoint>
    @for (i of myCarousel.pointNumbers(); track i) {
      <li [class.active]="i === myCarousel.activePoint()" (click)="myCarousel.moveTo(i)"></li>
    }
  </ul>
</ngu-carousel>
