# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node.js Package

on:
    push:
        branches:
            - 'release/**'
    release:
        types: [created]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v2
              with:
                  node-version: 16
            - run: yarn

    publish-npm:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v2
              with:
                  node-version: 16
                  registry-url: https://registry.npmjs.org/
                  scope: '@ngu'
            - run: yarn install
            - run: yarn nx run-many --target=build --all 
            - name: Run Publish
              working-directory: ./dist/libs/ngu/carousel
              run: npm publish --access=public
              env:
                  NODE_AUTH_TOKEN: ${{secrets.npm_token}}

